#Viewer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

#ClickToOpen {
	position: absolute;
	top: 125px;
	left: calc(100% - 65px);
	width: 100px;
	height: 30px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	border: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #333333;
	color: rgb(241, 241, 241);
}