*:focus {
	outline: none;
}

#RibbonBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-color: #eee8d5;
}

#TexairIcon{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
	background-color: #D2266D;
}

#services-content {
	display: none;
	position: absolute;
	top: 55px;
	left: 0;
	background-color: #268bd2;
	width: 40px;
	max-height: calc(100vh - 75px);
	z-index: 2;
}

#TexairIcon:hover #services-content {display: block;}

#TxtIcn {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	color: rgb(255, 255, 255);
}

.service {
	position: relative;
	display: inline-block;
	margin-bottom: -4px;
	width: 100%;
	height: 55px;
	background-color: #D2266D;
}

.Icn {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.Icn:hover {
	color: #268bd2;
	cursor: pointer;
}

#title {
	position: absolute;
	top: 5px;
	left: 50px;
	width: calc(80% - 50px);
	height: 25px;
	border: none;
	background-color: transparent;
	font-size: 20px;
	color: #002b36;
}

#file {
	position: absolute;
	top: 35px;
	left: 46px;
	width: 30px;
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	z-index: 2;
}

#file-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
}

#file-btn:hover {
	color: #268bd2;
	cursor: pointer;
}

#file-content {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #eee8d5;
	width: auto;
	height: auto;
	z-index: 2;
}

#file-content input {
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	text-decoration: none;
	display: block;
}

#file-content input:hover {
	color: #268bd2;
	cursor: pointer;
}

#file:hover #file-content {display: block;}

#edit {
	position: absolute;
	top: 35px;
	left: 76px;
	width: 30px;
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	z-index: 2;
}

#edit-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
}

#edit-btn:hover {
	color: #268bd2;
	cursor: pointer;
}

#edit-content {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #eee8d5;
	width: auto;
	height: auto;
	z-index: 2;
}

#edit-content input {
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	text-decoration: none;
	display: block;
}

#edit-content input:hover {
	color: #268bd2;
	cursor: pointer;
}

#edit:hover #edit-content {display: block;}

#text {
	position: absolute;
	top: 35px;
	left: 106px;
	width: 32px;
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	z-index: 2;
}

#text-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
}

#text-btn:hover {
	color: #268bd2;
	cursor: pointer;
}

#text-content {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #eee8d5;
	width: auto;
	height: auto;
	z-index: 2;
}

#text-content input {
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	text-decoration: none;
	display: block;
}

#text-content input:hover {
	color: #268bd2;
	cursor: pointer;
}

#text:hover #text-content {display: block;}

#view {
	position: absolute;
	top: 35px;
	left: 138px;
	width: 34px;
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	z-index: 2;
}

#view-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
}

#view-btn:hover {
	color: #268bd2;
	cursor: pointer;
}

#view-content {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #eee8d5;
	width: auto;
	height: auto;
	z-index: 2;
}

#view-content input {
	height: 20px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	background-color: transparent;
	color: #002b36;
	text-decoration: none;
	display: block;
}

#view-content input:hover {
	color: #268bd2;
	cursor: pointer;
}

#view:hover #view-content {display: block;}

#Notepad {
	position: absolute;
	top: 55px;
	left: 0;
	width: calc(100% - 20px);
	height: calc(100% - 90px);
	background-color: #fdf6e3;
	padding: 10px;
	color: #073642;
	overflow: scroll;
}

#NoteInfo {
	position: absolute;
	top: calc(100% - 20px);
	left: 0;
	width: calc(100% - 10px);
	height: 10px;
	background-color: #93a1a1;
	padding: 5px;
	text-align: right;
	font-size: 15px;
	line-height: 10px;
	color: #eee8d5;
}