.menu {
	width: 150px;
	z-index: 1;
	/* box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2); */
	position: fixed;
	display: none;
	overflow: hidden;
	transition: 0.2s display ease-in;
}
.menu .menu-options {
	list-style: none;
	padding: 10px 0;
	z-index: 1;
}
.menu .menu-options .menu-option {
	font-weight: 500;
	z-index: 1;
	font-size: 14px;
	padding: 10px 40px 10px 20px;
	cursor: pointer;
}
.menu .menu-options .menu-option:hover {
	background: rgba(0, 0, 0, 0.7);
}
button {
	background: grey;
	border: none;
}
button .next {
	color: green;
}
button[disabled="false"]:hover .next {
	color: red;
	animation: move 0.5s;
	animation-iteration-count: 2;
}
@keyframes move {
	from {
		transform: translate(0%);
	}
	50% {
		transform: translate(-40%);
	}
	to {
		transform: transform(0%);
	}
}
