canvas {
	background: #232323;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#KodexTitle {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100px;
	font-size: 50px;
	line-height: 75px;
	color: #00FF00;
	z-index: 2;
}
#KodexTitle:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexSlogan {
	position: absolute;
	top: 65px;
	left: 0;
	width: 200px;
	height: 35px;
	font-size: 16px;
	line-height: 25px;
	color: #00FF00;
	z-index: 2;
}
#KodexSlogan:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexNav {
	position: absolute;
	top: 0;
	left: 200px;
	width: calc(100% - 200px);
	height: 100px;
	z-index: 2;
}
#KodexNav:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexHome {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	font-size: 25px;
	line-height: 100px;
	color: #00FF00;
	z-index: 2;
}
#KodexHome:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexExchange {
	position: absolute;
	top: 0;
	left: 25%;
	width: 25%;
	height: 100%;
	font-size: 25px;
	line-height: 100px;
	color: #00FF00;
	z-index: 2;
}
#KodexExchange:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexNFA {
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
	font-size: 25px;
	line-height: 100px;
	color: #00FF00;
	z-index: 2;
}
#KodexNFA:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexAbout {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 100%;
	font-size: 25px;
	line-height: 100px;
	color: #00FF00;
	z-index: 2;
}
#KodexAbout:hover {
	outline: 1px dotted #00FF00;
	cursor: crosshair;
}
#KodexFrame {
	position: absolute;
	top: 100px;
	left: 0;
	height: calc(100% - 100px);
	width: 100%;
}