#BuddyViewer {
	position: absolute;
	top: 5%;
	left: 0;
	width: 75%;
	height: 95%;
}
#BuddySelect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5%;
	border: none;
	background-color: #012345;
	color: #f9f8f7;
}
#BuddyInfo {
	position: absolute;
	top: 5%;
	left: 75%;
	width: 25%;
	height: 95%;
	overflow-y: scroll;
	background-color: #012345;
	color: #f9f8f7;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}
#BuddyInfo::-webkit-scrollbar {
  display: none;
}
