.score-0 {
    background-color: rgba(50, 50, 50, 0.5) !important;    
}

.score-1 {
    background-color: darkgrey !important;
}

.score-2 {
    background-color: orange !important;
}

.score-3 {
    background-color: green !important;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
}

body input {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 3vh;
}

.wordleAlerts {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 2vh;
}

header {
    text-align: center;
    font-weight: bold;
}

.wordleboard {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.wordleGuessRow {
    display:flex;
    justify-content:space-between;
    padding-bottom: 5px;
    width: 90vw;
}

.wordleGuessTile {
    width: 15vw;
    height: 7vh;
    
    border: none;

    line-height:7vh;
    text-align: center;
}

.wordleCurrentGuess {
    height: 7vh;
    padding: 5px;
    text-align: center;
}

.wordleAlerts {
    height: 7vh;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.wordleKeyboard {
    text-align: center;
    padding-bottom: 5px;
}

.shareArea {
    text-align: center;
}

.shareAreaButton {
    margin-bottom: 10px;
}

.shareAreaAlert {
    font-size: 10px;
}

input{
    border: none;
}

input:hover {
    background-color: rgba(50, 50, 50, 0.5);
}