* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

.elementor-24211 .elementor-element.elementor-element-098da8a .eael-data-table thead tr th {
    color: #fff;
    background-color: #1C51FF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #6EC1E4;
}

.elementor-24211 .elementor-element.elementor-element-098da8a .eael-data-table tbody > tr:nth-child(2n+1) td {
    background-color: #E6F1FD;
}
.elementor-24211 .elementor-element.elementor-element-098da8a .eael-data-table tbody tr td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #6EC1E4;
    padding: 15px 15px 15px 15px;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
}

.fa {
    padding: 7px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
        opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}