* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

#canvas-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 40px);
    background-color: white;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: crosshair;
}

#menu-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.menu-button:hover {
    background-color: #777;
}

.menu-button.active {
    background-color: #00bfa5;
}

#calculator-window {
    position: absolute;
    width: 350px;
    height: 650px;
    background-color: white;
    border: 1px solid #333;
    top: 50px;
    left: 50px;
    z-index: 10;
    cursor: move; /* Cursor for draggable window */
}

#calculator-window iframe {
    width: 141%;
    height: 154%;
    transform: scale(0.65);
    transform-origin: top left;
}

#close-calculator {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

input.textbox {
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    position: absolute;
    z-index: 5; /* Keep text above the canvas */
    word-wrap: break-word; /* Ensure text wraps */
    overflow: hidden;
}